<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body id="success">
    <div>
    <h1> Contact US </h1>
    <p> Hii <%= data.name%> , We have recieverd your query as per your age <%= data.age%>. The delievery
       will be deliever in <%= data.city%> soon.
    </div>
  </body>
</html>
